In [1]:
import pandas as pd

In [4]:
dizionario = {"giorno":["lun", "mar", "mer", "gio"], "prezzo" : [2,3,4,3]}
dizionario

{'giorno': ['lun', 'mar', 'mer', 'gio'], 'prezzo': [2, 3, 4, 3]}

In [6]:
dati = pd.DataFrame(dizionario)
dati

  giorno  prezzo
0    lun       2
1    mar       3
2    mer       4
3    gio       3